*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select, textarea{
    font: 400 16px 'Roboto', sans-serif;
}

.title{
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    color: #616161;
    font-family: 'Poppins', sans-serif;
}