.navbar{
    padding: 0.5em 1.5em;
    border: 1px solid #ccc;
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;

        #logo-img{
            max-width: 100px;
            flex: 1;

            img{
                width: 100%;
            }
        }
        
        @media screen {
            @media (min-width:320px) {
                flex-direction: column;

            }
            @media (min-width:768px) {
                flex-direction: row;

            }
        }
    }

    
}